Q1. Create a New Database and  Table for Employees
Task: Create a new database named company_db and Create a table named  
employees, columns

ANS 1

CREATE DATABASE company_db;
USE company_db;
CREATE TABLE employees (
employee_id INT PRIMARY KEY,
first_name VARCHAR(50),
last_name VARCHAR(50),
department VARCHAR(50),
salary int,
hire_date DATE);

Q2. Insert Data into Employees Table

A2.  

INSERT INTO employees(
employee_id, first_name, last_name, department, salary, hire_date)
VALUES
(101, 'Amit', 'Sharma', 'HR', 50000,'2020-01-15'),
(102, 'Riya', 'Kapoor', 'Sales', 75000, '2019-03-22'),
(103, 'Raj', 'Mehta', 'IT', 90000, '2018-07-11'),
(104, 'Neha', 'Verma', 'IT', 85000, '2021-09-01'),
(105, 'Arjun', 'Singh', 'Finance', 60000, '2022-02-10'
);


Q3. Display All Employee Records Sorted by Salary (Lowest to Highest)

A3.  SELECT *
FROm employees
ORDER BY Salary ASC;


Q4. Show Employees Sorted by Department (A–Z) and Salary (High → Low)

A4.

SELECT
Department,
first_name,
last_name,
salary
FROM employees
ORDER BY   department ASC,
salary DESC;

Q5. List All Employees in the IT Department, Ordered by Hire Date (Newest First)


A5.

SELECT
first_name,
last_name,
hire_date,
department
FROM employees
WHERE department='IT'
ORDER BY hire_date DESC;

Q6. Create and Populate a Sales Table
Task: Create a table sales sale_id to track sales data:

A6.  

CREATE TABLE sales(
sale_id INT PRIMARY KEY,
customer_name VARCHAR(50),
amount INT,
sale_date DATE);

INSERT INTO sales
 (sale_id, customer_name,amount, sale_date)
Values
(1, 'Aditi', 1500, '2024-08-01'),
(2, 'Rohan', 2200, '2024-08-03'),
(3, 'Aditi', 3500, '2024-09-05'),
(4, 'Meena', 2700, '2024-09-15'),
(5, 'Rohan', 4500, '2024-09-25');


Q7. Display All Sales Records Sorted by Amount (Highest → Lowest)

A7.
SELECT *
FROM sales
ORDER BY
amount DESC;

Q8. Show All Sales Made by Customer “Aditi”

A8. SELECT
 customer_name,
 SUM(amount )
 FROM sales
 WHERE customer_name='ADITI';

 Q9. What is the Difference Between a Primary Key and a Foreign Key?


 A9. A Primary Key is used to identify a specific record within its own table, whereas a Foreign Key is used to link two tables together.

Q10. What Are Constraints in SQL and Why Are They Used?

A10.

In SQL, Constraints are predefined rules applied to columns or tables to limit the type of data that can be entered. They act as "gatekeepers" to ensure the data remains accurate, reliable, and consistent.

Some of constraints are below

CHECK , Default, Primary key , Unique, NOT NULL,