Question 1 : Create a ranking of students based on score (highest first)

Ans1.PFB

SELECT *
 FROM student_performance;

SELECT RANK()OVER (ORDER BY score DESC) rank_class,
student_id,name, score
FROM student_performance;

Question 2 : Show each student's score and the previous student’s score (based on score order).

ANS2.  

SELECT
name,
score,
LAG(score,1,0) OVER  (ORDER BY score ASC)as previous_student_score
FROM student_performance;

Question 3 : Convert all student names to uppercase and extract the month name from join_date.

Ans3.

SELECT
UPPER(name) as student_name,
join_date,
MONTHNAME(join_date) as join_month
FROM student_performance;

Question 4 : Show each student's name and the next student’s attendance (ordered by attendance).

ANS4.

SELECT LEAD(attendance ) OVER ( ORDER BY attendance ) as next_attendance,
name, attendance
FROM student_performance;


Question 5 : Assign students into 4 performance groups using NTILE().

ANS5.SELECT name, SCORE,
NTILE(4) OVER (ORDER BY score DESC) as performance
FROM student_performance;


Question 6 : For each course, assign a row number based on attendance (highest first).

ANS6.

SELECT course,name,attendance,
ROW_NUMBER () OVER (PARTITION BY course ORDER BY attendance DESC) as attendance_rank
FROM student_performance;

Question 7 : Calculate the number of days each student has been enrolled (from join_date to today).
(Assume current date = '2025-01-01')

ANS7.

SELECT
 name,
join_date,
DATEDIFF('2025-01-01',join_date)  as days_from_joining
FROM student_performance;

Question 8 : Format join_date as “Month Year” (e.g., “June 2023”).

ANS8.

SELECT
name,
join_date,
DATE_FORMAT(join_date, '%M %Y') as formated_join_date
FROM student_performance;

Question 9 : Replace the city ‘Mumbai’ with ‘MUM’ for display purposes.

ANS 9

SELECT name, city,
REPLACE ( city, 'Mumbai', 'MUM') as updated_city
FROM student_performance;

Question 10 : For each course, find the highest score using FIRST_VALUE().

ANS10.

SELECT name,course,score,
FIRST_VALUE(score) OVER (PARTITION BY course ORDER BY score DESC) as highest_score_course
FROM student_performance;